{% macro displayNewsSources(news_list) %}
<div class="row m-0 p-o">
    <div class="col-md-12 m-0 p-o">
        {% for item in news_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-0 p-o">
            <div class="content_area">
                <div class="main_content floatleft">
                    <div class="left_coloum floatleft">
                        <div class="single_left_coloum_wrapper">
                            <h2 class="title">{{item.name}}</h2>
                            <div class="single_left_coloum floatleft">
                                <p>{{item.description| truncate(70)}}</p>
                                <li><a class="readmore" href="/source/{{item.id}}&35">View News</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endfor %}
</div>
</div>
{%endmacro%}
    
